.clickable-icon-green:hover {
    color: green;
    cursor: pointer;
}

.vote-icon-green {
    color: green;
    cursor: pointer;
}

.clickable-icon-red:hover {
    color: red;
    cursor: pointer;
}

.vote-icon-red {
    color: red;
    cursor: pointer;
}

.clickable-icon-orange:hover {
    color: orange;
    cursor: pointer;
}